.input {
  display: flex;
  flex-direction: row;
  position: relative;
}
.inputText {
  width: 279px;
  height: 10px;
  border-radius: 0px 0px 0px 0px;
  border: 0;
  background-color: var(--gray-500);
  padding: 10px;
  padding-left: 15px;
  outline: none;
}

.inputSearch {
  width: 40px;
  height: 30px;
  border: 0;
  border-radius: 0px 0px 0px 0px;
  outline: none;
  padding: 6px;
  padding-right: 15px;
  background-color: var(--secondary);
  cursor: pointer;
}

input::placeholder {
  color: var(--white);
  font-size: 14px;
}

input:focus {
  color: var(--black);
  background-color: var(--gray-600);
  font-size: 14px;
  font-weight: 700;
}

.searchImg {
  position: absolute;
  top: 5px;
  right: 14px;
  color: var(--white);
  background-color: var(--secondary);
}

.logoRickMorty {
  display: none;
}

.title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.heartHeader {
  color: var(--gray-600);
  font-size: 24px;
  padding-left: 14px;
  cursor: pointer;
}

.heartHeaderAct {
  color: var(--secondary);
  font-size: 24px;
  padding-left: 14px;
  cursor: pointer;
}

.homeHeader {
  color: var(--gray-600);
  font-size: 24px;
  margin-left: -13px;
  cursor: pointer;
}

.homeHeaderAct {
  color: var(--secondary);
  font-size: 24px;
  margin-left: -13px;
  cursor: pointer;
}

@media only screen and (min-width: 780px) {
  .header {
    flex-direction: row;
    width: 715px;
    margin: auto;
  }

  .logoRickMorty {
    display: flex;
    width: 30px;
    height: 30px;
    margin-right: 25px;
  }

  .titleRickipedia {
    margin-left: -34px;
  }

  .homeHeader {
    margin-left: 122px;
  }

  nav {
    order: 2;
    /* margin-left: -221px; */
  }
}

@media only screen and (min-width: 1170px) {
  .header {
    width: 1110px;
  }

  form {
    margin-left: 450px;
  }

  .titleRickipedia {
    margin-left: -30px;
  }
}
