body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.allFavs {
  width: 340px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.titleFav {
  width: 340px;
  margin: auto;
  margin-top: -35px;
  margin-bottom: 15px;
  color: var(--secondary);
  font-size: 24px;
}

.cards {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.genderCharacter {
  margin-top: -6px;
  display: flex;
  justify-content: space-between;
}
.header {
  padding-top: 20px;
  display: flex;
  width: 340px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 15px;
}

.heart {
  font-size: 24px;
  padding: 8px;
  color: var(--gray-600);
  margin-top: -10px;
}

.heart-fav {
  font-size: 24px;
  padding: 8px;
  color: var(--primary);
  margin-top: -10px;
}

.originCharacter {
  margin-top: 0px;
}

.typeGrey {
  color: var(--gray-600);
}
