body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cards {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 348px;
  height: 496px;
  margin: 20px;
  box-shadow: 3px 3px 10px #aaaaaa;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
}

.card:hover {
  box-shadow: 6px 6px 13px #aaaaaa;
}

.genderCharacter {
  margin-top: -6px;
  display: flex;
  justify-content: space-between;
}
.header {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.headerCard {
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heart {
  font-size: 24px;
  padding: 8px;
  color: #aaaaaa;
  margin-top: -10px;
}

@media only screen and (min-width: 600px) {
  .header {
    flex-direction: row;
    max-width: 500px;
    margin: auto;
  }
}

.imgCharacter {
  width: 300px;
  height: 300px;
}
.relative {
  position: relative;
}
.imgStatus {
  position: absolute;
  top: 256px;
  right: 6px;
  width: 40px;
  height: 40px;
}

.status {
  /* margin-left: 113px; */
  color: #aaaaaa;
}

.titleCharacter {
  font-size: 20px;
  width: 200px;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.originCharacter {
  margin-top: 0px;
}

.typeGrey {
  color: #aaaaaa;
}

/* input search */
.input {
  display: flex;
  flex-direction: row;
  position: relative;
}
.inputText {
  width: 224px;
  height: 10px;
  border-radius: 0px 0px 0px 0px;
  border: 0;
  background-color: #aaaaaa;
  padding: 10px;
  padding-left: 15px;
  outline: none;
}

.inputSearch {
  width: 40px;
  height: 30px;
  border: 0;
  border-radius: 0px 0px 0px 0px;
  outline: none;
  padding: 6px;
  padding-right: 15px;
  background-color: black;
}

input::placeholder {
  color: white;
  font-size: 14px;
}

input:focus {
  color: black;
  background-color: #d4d3d3;
  font-size: 14px;
  font-weight: 700;
}

.searchImg {
  position: absolute;
  top: 5px;
  right: 14px;
  color: white;
}
